@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
   --color-del-texto:black;
   --font-size: 24px;
   --font-de-articulos: 5px solid #5DB7DE;
   --color-texto: #07020D;
   --color-blanco: #FFFFFF;
   --color-fondo: #F1E9DB;
   --color-acento: #5DB7DE;
   --color: #A39B8B;
  --color: #716A5C;

}
*{
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', Times, serif;
}

body{
   
    text-align: center;
    color:var(--color-del-texto);
    margin: 0;
  
}
/*estilo general*/


ul{
  
    list-style: none;
    padding: 0;
}
li{
  
    display: inline-block;
    padding: 10px;
    margin: 10px;
   list-style: none;
}


header{
    background-color: black;
    padding: 30px;
    margin-bottom: 50px;
}
a:link{
    font-size: var(--font-size);
    
}
h1{
    font-weight: 400;
    font-size: 36px;
    margin: 0;
}
h2{
    font-weight: 400;
    font-size: 26px;
}
h3{
    font-weight: 400;
    font-size: 22px;
    padding: 0px;
}
article{
    
    margin: 30px;
}


header a{
    font-family: 'Times New Roman', Times, serif
}
.linknav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
main{
    margin-top: 60px;
}
footer{
 background-color: #716A5C;
 color: #F1E9DB;
 padding: 90px;
        
}

a.nav:link ,a.nav:visited {  /*modifica al link en reposo*/
    color: #dbe3f1;
    display: inline-block;
    padding: 16px;
    margin: 0 15px;
    border: 3px #dbe3f1 solid;
    border-radius: 8px;

}
a.nav:hover, a.nav:active{
    color: cadetblue;
    border: 3px cadetblue solid;
    

}